
@{
    ViewBag.Title = "student";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>student</h2>

<table class="table table-striped">
    <thead>
        <th></th>
        <th style="font-size:x-large">Student Name</th>
        <th style="font-size:x-large">Date</th>
        <th style="font-size:x-large">Time</th>
    </thead>
    <tbody>
        <tr>
            <td> <div class="hovereffect">  <img class="img-responsive" src="~/Content/logonatin.png" height="1" width="100" alt=""></div> </td>
            <td style="font-size:large">utoy</td>
            <td style="font-size:large">March 23, 2018</td>
            <td style="font-size:large">12:12am </td>
        </tr>
    </tbody>
</table>

